{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
            <th>Afbeelding</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.naam }}</td>
                <td>{{ product.prijs }}</td>
                <td>{{ product.omschrijving }}</td>
                <td>{{ product.afbeelding }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-light" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    <a class="btn btn-primary" href="{{ path('product_add', {'id': product.id}) }}">cart</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}